[submodule "spotify-in-discord"]
	path = spotify-in-discord
	url = https://github.com/dperolio/spotify-in-discord
[submodule "status-everywhere"]
	path = status-everywhere
	url = https://github.com/dperolio/status-everywhere
