[submodule "plugins/status-everywhere"]
	path = plugins/status-everywhere
	url = https://github.com/dperolio/status-everywhere
[submodule "plugins/spotify-in-discord"]
	path = plugins/spotify-in-discord
	url = https://github.com/dperolio/spotify-in-discord
